#loader {
    height: 80px;
    width: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

[l] {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: loader 2s linear infinite;
}

[a] {
    left: 35px;
}

[b] {
    right: 10px;
    top: 10px;
    animation-delay: .2s
}

[c] {
    top: 35px;
    right: 0;
    animation-delay: .4s
}

[d] {
    right: 10px;
    bottom: 10px;
    animation-delay: .6s
}

[e] {
    left: 35px;
    bottom: 0;
    animation-delay: .8s
}

[f] {
    left: 10px;
    bottom: 10px;
    animation-delay: 1s
}

[g] {
    top: 35px;
    left: 0;
    animation-delay: 1.2s
}

[h] {
    left: 10px;
    top: 10px;
    animation-delay: 1.4s
}

@keyframes loader {
    0% {
        background: #fff;
    }

    100% {
        background: #0000;
    }
}